obj
bin
out
NDependOut*
_cache
_ReSharper.*
*.user
*.resharper
*.ReSharper
*.suo
*.cache
*.~
*.pidb
*.userprefs
TestResults
test-results
MemBus_mm_cache.bin
packages
Nuget/MemBus/lib
Nuget/MemBus/readme.md
*.swp
*.nupkg
*.Dotsettings
*.pfx
*.DS_Store
.vs
AppPackages
readme.html
.vscode
# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider

# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml