obj
bin
out
NDependOut*
_cache
_ReSharper.*
*.user
*.resharper
*.ReSharper
*.suo
*.cache
*.~
*.pidb
*.userprefs
TestResults
test-results
MemBus_mm_cache.bin
packages
Nuget/MemBus/lib
Nuget/MemBus/readme.md
*.swp
*.nupkg
readme.html